.wrap {
  display: flex;
  column-gap: 1.2rem;
  width: 59.2rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.nameWrap {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.name {
  color: var(--color-gray-60);
  font-size: var(--font-size-18);
  font-family: Actor;
  font-weight: var(--font-weight-regular);
}

.profileImage {
  width: 4.8rem;
  height: 4.8rem;
}

.answerWrap {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  width: 100%;
  max-width: 53.2rem;
}

.createdAt {
  color: var(--color-gray-40);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
}

@media screen and (max-width: 375px) {
  .profileImage {
    width: 3.2rem;
    height: 3.2rem;
  }
  .name {
    font-size: var(--font-size-14);
  }
}
