.header {
  position: relative;
  width: 120rem;
  height: 37.9rem;
  background-color: var(--color-gray-20);
}

.headerBackground {
  position: absolute;
  width: 120rem;
  height: 23.4rem;
  background-image: url('/src/images/HeaderImg.png');
}

.headerWrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  row-gap: 1.2rem;
  z-index: 1;
}

.answerHeaderLogo {
  width: 100%;
  height: 6.7rem;
}

.imageSource {
  border-radius: 9.9rem;
  width: 13.6rem;
  height: 13.6rem;
}

.userId {
  font-size: var(--font-size-32);
  font-family: Actor;
  color: var(--color-gray-60);
  font-weight: var(--font-weight-medium);
  white-space: nowrap;
}

.shareWrap {
  display: flex;
  column-gap: 1.2rem;
}
.shareWrap button {
  width: 4rem;
  height: 4rem;
  border-radius: 9.9rem;
  background-repeat: no-repeat;
  background-position: center;
}
