.kebabBox {
  display: flex;
  position: relative;
}

.buttonList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0.4px 0rem;
  top: 2rem;
  left: -8rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--color-gray-30);
  box-shadow: var(--box-shadow-1pt);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1.6rem;
  gap: 0.8rem;
  color: var(--color-gray-50);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
}

.buttonImage {
  filter: invert(32%) sepia(0%) saturate(2901%) hue-rotate(149deg) brightness(91%) contrast(85%);
  width: var(--font-size-14);
}

.button:hover {
  color: var(--color-gray-60);
  background: var(--color-gray-20);
  background-clip: content-box;
  .buttonImage {
    filter: none;
  }
}

.button:active {
  color: var(--color-blue-50);
  background: var(--color-gray-10);
  background-clip: content-box;
  .buttonImage {
    filter: invert(38%) sepia(96%) saturate(3474%) hue-rotate(202deg) brightness(98%) contrast(94%);
  }
}
