/* Profile */
.wrap {
  display: flex;
  column-gap: 1.2rem;
  width: 59.2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  row-gap: 12px;
}

.nameWrap {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.name {
  color: var(--color-gray-60);
  font-size: var(--font-size-18);
  font-family: Actor;
  font-weight: var(--font-weight-regular);
}

.imageSource {
  border-radius: 9.9rem;
  width: 4.8rem;
  height: 4.8rem;
}

.answerWrap {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  width: 100%;
  max-width: 53.2rem;
}

.createdAt {
  color: var(--color-gray-40);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
}

@media screen and (max-width: 375px) {
  .profileImage {
    width: 3.2rem;
    height: 3.2rem;
  }
  .name {
    font-size: var(--font-size-14);
  }
}

/* Form : answer(X) */
.textarea {
  width: 100%;
  height: 100%;
  max-height: 15.4rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
  resize: none;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
  color: var(--color-gray-60);
  background: var(--color-gray-20);
}

.button {
  width: 100%;
  height: 4.6rem;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  background: var(--color-brown-30);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
  color: var(--color-gray-10);
}
.active {
  background: var(--color-brown-40);
}

.textarea:focus {
  outline: none;
}

.textarea::placeholder {
  color: var(--color-gray-40);
}

/* Form :answer(O), isRejected(X) */
.accept {
  color: var(--color-gray-60);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
}

/* Form : answer(O), isRejected(O) */
.reject {
  color: var(--color-red-50);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
}
