/* Profile */
.wrap {
  display: flex;
  column-gap: 1.2rem;
  width: 59.2rem;
  row-gap: 12px;
}

.nameWrap {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.name {
  color: var(--color-gray-60);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-medium);
}

.imageSource {
  border-radius: 9.9rem;
  width: 4.8rem;
  height: 4.8rem;
}

.answerWrap {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  width: 100%;
  max-width: 53.2rem;
}

.createdAt {
  color: var(--color-gray-40);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
}

/* Form : answer(X) */
.answerTextArea {
  height: 15.4rem;
}

.button {
  width: 100%;
  height: 4.6rem;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  background: var(--color-brown-30);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
  color: var(--color-gray-10);
}
.active {
  background: var(--color-brown-40);
}

.textarea:focus {
  outline: none;
}

.textarea::placeholder {
  color: var(--color-gray-40);
}

/* Form :answer(O), isRejected(X) */
.accept {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
  overflow-wrap: break-word;
}

/* Form : answer(O), isRejected(O) */
.reject {
  color: var(--color-brown-50);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
}

@media screen and (max-width: 768px) {
  .wrap {
    width: auto;
  }
}

@media screen and (max-width: 375px) {
  .wrap {
    width: 100%;
  }

  .imageSource {
    width: 3.2rem;
    height: 3.2rem;
  }
  .name {
    font-size: var(--font-size-14);
    white-space: nowrap;
  }
  .accept {
    font-size: var(--font-size-14);
  }
}
