.textarea {
  width: 100%;
  height: 100%;
  max-height: 15.4rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
  color: var(--color-gray-60);
  background: var(--color-gray-20);
}

.button {
  width: 100%;
  height: 4.6rem;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  background-color: var(--color-brown-30);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
  color: var(--color-gray-10);
}

.textarea:focus {
  outline: none;
}

.textarea::placeholder {
  color: var(--color-gray-40);
}
