.badge {
  display: inline-flex;
  padding: 0.4rem 1.2rem;
  border-radius: 0.8rem;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-semiBold);
  line-height: 2rem;
}

.active {
  color: #9b585f;
  border: 0.2rem solid #9b585f;
}

.inActive {
  color: var(--color-text-secondary);
  border: 0.15rem solid var(--color-border-primary);
}
