.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  border: 1px solid var(--color-gray-40);
  border-radius: 1.6rem;
}

@media screen and (max-width: 375px) {
  .wrap {
    padding: 1.6rem;
  }
}
