@import './reset.css';
@import './variables.css';

:root {
  height: 100%;
  min-height: 100vh;
  font-size: 62.5%;
}

html {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

p,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

main {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}
