* {
  box-sizing: border-box;
}

.backGround {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 900;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 612px;
  height: 454px;
  padding: 4rem;
  font-size: 1.6rem;
  background-color: var(--color-gray-10);
  border: 0.1rem solid var(--color-gray-10);
  border-radius: 2.4rem;
  box-shadow: var(--box-shadow-2pt);
  z-index: 999;
}

.notice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 4rem;
}

.ask {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  font-size: var(--font-size-24);
}

.question {
  margin: 0;
}

.messenger {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

.to {
  font-size: var(--font-size-18);
}

.name {
  font-size: var(--font-size-16);
}

.profile {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.inputBox {
  width: 100%;
  height: 18rem;
}

/* mobile */

@media (max-width: 375px) {
  .container {
    width: 32.7rem;
    height: 56.8rem;
    padding: 2.4rem;
  }

  .question {
    font-size: var(--font-size-20);
  }

  .inputBox {
    width: 100%;
    height: 35.8rem;
  }
}
