.mainSection {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 120rem;
  padding: 5.4rem 2.4rem 13.6rem 2.4rem;
  background: var(--color-gray-20);
}

.askQuestionButton {
  position: absolute;
  bottom: 2.4rem;
  right: 2.4rem;
  width: 20.8rem;
  height: 5.4rem;
  font-size: var(--font-size-20);
  font-family: Actor;

  @media (max-width: 375px) {
    width: auto;
    font-family: Pretendard;
  }
}
