.mainSection {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 120rem;
  padding: 5.4rem 2.4rem 13.6rem 2.4rem;
  background: var(--color-gray-20);
}
.questionBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.askQuestionButton {
  position: fixed;
  bottom: 2.4rem;
  right: 2.4rem;
  width: 20.8rem;
  height: 5.4rem;
  font-size: var(--font-size-20);
  font-family: Actor;

  @media (max-width: 375px) {
    width: auto;
    font-family: Pretendard;
  }
}

.deleteButton {
  display: flex;
  width: 11rem;
  height: 4rem;
  padding: 1.2rem 2.4rem;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-16);
  margin-bottom: 0.9rem;

  @media (max-width: 375px) {
    width: 8rem;
    height: 3.5rem;
    padding: 0.6rem 1.2rem;
    font-size: 1.3rem;
  }
}
