.question {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.text {
  color: var(--color-gray-40);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
  line-height: 1.8rem;
}

.content {
  color: var(--color-gray-60);
  font-family: Actor;
  font-size: var(--font-size-18);
  line-height: 2.4rem;
}

@media screen and (max-width: 375px) {
  .content {
    font-size: var(--font-size-16);
  }
}
