.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--color-gray-40);
  font-size: var(--font-size-16);
  font-family: Pretendard;
  font-weight: var(--font-weight-regular);
  filter: invert(54%) sepia(0%) saturate(7500%) hue-rotate(91deg) brightness(90%) contrast(59%);
}

.questionWrap {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.messagesIcon {
  width: 1.8rem;
  height: 1.8rem;
  color: var(--color-gray-40);
}
