.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem;
  width: calc(100% - var(--size-mobile-padding) * 2);
  border-radius: 1.6rem;
  background: var(--color-background-primary);
}

.label {
  text-align: center;
  color: var(--color-text-secondary);
  font-size: var(--font-size-14);
  line-height: 150%;
  white-space: pre-wrap;
}

@media screen and (min-width: 375px) {
  .form {
    padding: 3.2rem;
    width: calc(100% - var(--size-tablet-padding) * 2);
    max-width: 40rem;
  }

  .label {
    font-size: var(--font-size-16);
  }
}
