.accept {
  color: var(--color-gray-60);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
}

.reject {
  color: var(--color-red-50);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
}
